<section id="error-view">
    <h1>Error <%= title %>
    </h1>
    <p id="error-message">
        <%= message %>
    </p>
    <p>
        <a href="/" title="Go back home">Return to the Home Page</a>
    </p>
    <p>
        If this keeps happening, please
        <a href="mailto:support@csemotors.com">contact us</a>.
    </p>
</section>