<footer id="site-footer">
    <p>
        &copy; <%= new Date().getFullYear() %> CSE Motors &bull; All rights reserved
            &bull;
            <!-- Task 3: intentional error link -->
            <a href="/error" id="error-trigger-link" title="Trigger a 500 error">Trigger Server Error</a>
    </p>
</footer>